# Python 바이트 코드 / 최적화 파일
*.py[cod]
*$py.class
__pycache__/

# Jenkins 디렉토리
ml-backend-fastapi/jenkins_home/

# Airflow 로그 및 다운로드
ml-backend-fastapi/airflow/logs/*
ml-backend-fastapi/airflow/downloads/*
ml-backend-fastapi/airflow/my_custom_lib/*

# 로그 및 환경 파일
*.log
*.env
*.pdf

# ml-backend-fastapi 관련 제외
ml-backend-fastapi/test

# ml-backend 관련 제외 파일
ml-backend/HELP.md
ml-backend/gradle/
ml-backend/build/
ml-backend/bin/
ml-backend/.idea/
ml-backend/*.iws
ml-backend/*.iml
ml-backend/*.ipr
ml-backend/out/
ml-backend/nbproject/private/
ml-backend/nbbuild/
ml-backend/dist/
ml-backend/nbdist/
ml-backend/nb-gradle/

# 예외 처리 - 반드시 포함할 파일
!Dockerfile
!ml-backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/