<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}">

        <th:block layout:fragment="head"></th:block>
    </head>

    <body>
        <header class="header">
            <!-- 네비게이션바 -->
            <nav th:replace="~{navbar :: navbarFragment}"></nav>
        </header>

        <div th:replace="~{chatbot :: chatbotFragment}"></div>
        <div th:replace="~{login_signup :: loginFragment}"></div>

        <!-- 기본 템플릿 안에 삽입될 내용 Start -->
        <th:block layout:fragment="content"></th:block>
        <!-- 기본 템플릿 안에 삽입될 내용 End -->

        <footer th:replace="~{footer :: footerFragment}"></footer>

        <!-- 자바스크립트 Start -->
        <th:block layout:fragment="script"></th:block>
        <!-- 자바스크립트 End -->

        <script th:replace="~{chatbot :: chatbotScript}"></script>
        <script th:replace="~{login_signup :: loginScript}"></script>
    </body>
</html>