<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}" >

<head>
    <th:block layout:fragment="head">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    </th:block>
</head>

<body>
<th:block layout:fragment="content">
    <!-- 여기 지도 페이지 내용 작성 -->
    <div id="map" style="height: 500px;"></div>
</th:block>

<th:block layout:fragment="script">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const map = L.map('map').setView([37.5551, 126.9707], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);
    </script>
</th:block>
</body>
</html>