<nav th:fragment="navbarFragment" class="nav-container">

	<a class="navbar-brand" href="/">
		<img th:src="@{/images/applyhome_logo.png}" height="40">
	</a>

	<ul class="nav-menu">
		<li class="nav-item"><a class="nav-link text-white" href="/">홈</a></li>
		<li class="nav-item"><a class="nav-link text-white" href="/notice/list">맞춤공고</a></li>
		<li class="nav-item"><a class="nav-link text-white" href="/loan">대출추천</a></li>
		<li class="nav-item"><a class="nav-link text-white" href="/mypage">마이페이지</a></li>
	</ul>

	<div class="auth-buttons">
		<button class="btn btn-outline" onclick="showModal('login')">로그인</button>
		<button class="btn btn-primary" onclick="showModal('signup')">회원가입</button>
	</div>
</nav>