<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<div class="my-3 border-bottom">
		<div>
			<h4>회원가입</h4>
		</div>
	</div>
	<form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<div class="mb-3">
			<label for="username" class="form-label">사용자ID</label>
			<input type="text" th:field="*{username}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="password1" class="form-label">비밀번호</label>
			<input type="password" th:field="*{password1}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="password2" class="form-label">비밀번호 확인</label>
			<input type="password" th:field="*{password2}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="phoneNumber1" class="form-label">전화번호</label>
			<div class="d-flex align-items-center">
				<input type="text" id="phoneNumber1" class="form-control me-2" maxlength="3" pattern="\d{2,3}">
				<span class="mx-1">-</span>
				<input type="text" id="phoneNumber2" class="form-control ms-2" maxlength="4" pattern="\d{3,4}">
				<span class="mx-1">-</span>
				<input type="text" id="phoneNumber3" class="form-control ms-2" maxlength="4" pattern="\d{4}">
			</div>
		</div>
		<div class="mb-3">
			<label for="residentId1" class="form-label">주민번호</label>
			<div class="d-flex align-items-center">
				<input type="text" th:field="*{residentId1}" id="residentId1" class="form-control me-2" maxlength="6" pattern="\d{6}" placeholder="앞자리(6자리)" title="생년월일 6자리를 입력하세요.">
				<span class="mx-1">-</span>
				<input type="password" th:field="*{residentId2}" id="residentId2" class="form-control ms-2" maxlength="7" pattern="\d{7}" placeholder="뒷자리(7자리)" title="뒷자리 7자리를 입력하세요.">
			</div>
		</div>

		<button type="submit" class="btn btn-primary">회원가입</button>
	</form>
</div>

</html>